@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

* {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

div, p {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}

.btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.5px;
}
