@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

* {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

div, p {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}

.btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.5px;
}


// One-line Elipses
@mixin truncate($width: null) {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: $width;
}

// Multi-line Clip (Ellispse, fade down, or fade out)
@mixin truncateBlock($font-size, $line-height, $lines-to-show) {
	position: relative;
	display: block;
	display: -webkit-box;
	height: $font-size*$line-height*$lines-to-show;
	font-size: $font-size;
	line-height: $line-height;
	-webkit-line-clamp: $lines-to-show;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: clip;

	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		height: $font-size*$line-height*1;	
	}
}